negro = #333
azul = #165399
gris = #F3F3F3

*
  margin 0
  padding 0

body
	font-family sans-serif

.wrapper
  display block
  margin 0 auto
  width 940px

a
 text-decoration none
 color negro
 transition .3s
 &:hover
 	text-decoration underline

h2
  color azul
  margin 15px 0
  transition .3s
  &:hover
  	margin-left 10px

.contenido
 background gris
 margin-bottom 15px
 padding 10px

